@media (min-width: 768px) {
    nav button {
        display: none;
    }

    nav ul {
        display: flex !important;
        justify-content: center;
        background: black;
    }

    nav ul li {
        padding: 10px 20px;
    }

    .coursework, .location, .certificate {
        width: 50%;
        margin: auto;
    }

    #courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .course {
        background: #d35400;
        color: white;
        padding: 1rem;
        margin: 10px;
        border-radius: 5px;
    }
}
